{% load static %}
{% block content %}
    <!-- game_list.html -->
    <head>
        <title>
            jRPG's Django CRUD
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Editeur</th>
                <th>Console</th>
                <th>Adaptation</th>
                <!-- <th>Informations</th> -->
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ game.name }}</td>
                    <td>{{ game.publisher }}</td>
                    <td>{{ game.console }}</td>
                    <td>{{ game.adaptation }}</td>
                    <td>
                        <a href="{% url 'edit_game' game.id %}">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'delete_game' game.id %}">
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="button-container">
        <button class="button">
            <a href="{% url 'add_game' %}">
                Add
            </a>
        </button>
    </div>

{% endblock %}